<label
  *ngIf="label"
  for="input"
  class="pr-5 form-label mb-1 font-12 fw-semibold"
  >{{ label }}<span style="color: red">*</span></label
>
<div
  class="custom-notes bg-white rounded border"
  [ngClass]="control && control.invalid && isSubmitted"
>
  <ng-container *ngIf="!readonly; else redonly">
    <quill-editor
    #quillEditor

      [(ngModel)]="value"
      [placeholder]="placeholder"
      [modules]="quillConfig"
      [name]="name"
      (onContentChanged)="onInputChange($event)"
      (dblclick)="onEditorDoubleClick()"

    >
      >
    </quill-editor>
  </ng-container>
  <ng-template #redonly>
    <quill-view-html
      [content]="value"
      format="text"
      theme="snow"
    ></quill-view-html>
  </ng-template>
</div>
<div *ngIf="control && control?.invalid && isSubmitted" class="input-error">
  {{ label }} is required
</div>
