/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.login-wrapper {
        height: 80vh;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .box {
        width: 400px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .example-full-width {
        width: 100%;
        margin-bottom: 20px;
      }
      
      .btn-block {
        width: 100%;
      }
      
      mat-card-header {
        text-align: center;
        font-size: 1.2rem;
      }

      mat-card-title{
        margin-bottom: 1rem;
      }
      
      mat-form-field {
        display: block;
      }
      
      mat-input-element {
        font-size: 16px;
      }
      
      button[mat-stroked-button] {
        height: 40px;
        font-weight: bold;
      }
      